<form class="{{cssClass}}" autocomplete="off">

  {{> "systems/jiujitsu-kaisen/templates/partials/header.hbs"}}

  <section class="sheet-body">

    {{> "systems/jiujitsu-kaisen/templates/partials/principal.hbs"}}

    {{> "systems/jiujitsu-kaisen/templates/partials/tecnicas.hbs"}}

    {{> "systems/jiujitsu-kaisen/templates/partials/combate.hbs"}}

    {{> "systems/jiujitsu-kaisen/templates/partials/notas.hbs"}}

  </section>

</form>
